{% extends "base.html" %}

{% block title %}Ziekte Zoeken{% endblock %}

{% block content %}
<h1>Ziekte Zoeken</h1>
<button onclick="toggleInstructions()" class="instructions-button">
    <i class="fas fa-info-circle"></i> Wat te doen bij deze invoer?
</button>
<div id="instructions">
    <p>Hier kunt u invoeren welke soort u checkt, hoeveel planten geen water hebben en hoeveel planten zijn weggegooid omdat ze ziek zijn. </p>
</div>
<input type="text" id="search-input" placeholder="Zoek naar soort...">
<ul id="suggestions"></ul>

<form method="post" action="{% url 'disease_search' %}" class="form">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="hidden" name="soort" id="id_soort">
    <button type="submit" class="submit-button">Opslaan</button>
</form>

<a class="button" href="{% url 'home' %}">
    <i class="fa-solid fa-arrow-left"></i> Terug naar Home</a>
{% endblock %}
