{% extends "base.html" %}

{% block title %}Trips Infestation Wijdezetting{% endblock %}

{% block content %}
    <h1>Trips Infestation Wijdezetting Invoeren</h1>
    <button onclick="toggleInstructions()" class="instructions-button">
        <i class="fas fa-info-circle"></i> Wat te doen bij deze invoer?
    </button>
    <div id="instructions">
        <p>Hier kunt u invoeren hoeveel planten zijn getroffen door trips infestatie in de wijdezetting.</p>
    </div>
    <input type="text" id="search-input" placeholder="Zoek naar soort...">
    <ul id="suggestions"></ul>

    <form method="post" action="{% url 'trips_infestation_wijdezetting' %}" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="soort" id="id_soort">
        <button type="button" class="submit-button">Opslaan</button>
    </form>

    <a class="button" href="{% url 'home' %}">
        <i class="fa-solid fa-arrow-left"></i>Terug naar Home</a>
{% endblock %}
